@use "./styles/dark.scss";
@use "./styles/light.scss";
@use "./styles/candy.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$fontSize1: 1.5rem;
$fontSize2: 1.25rem;
$fontSize3: 1.1rem;
$fontSize4: 0.8rem;
$spacing: 8px;
$spacingDouble: $spacing * 2;

@mixin flexDisplay($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $spacing;
}

@mixin mq($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

#root {
  font-family: "poppins";
}
em {
  font-style: italic;
  font-weight: 300;
}

h1 {
  font-size: $fontSize1;
  @include mq() {
    font-size: $fontSize1 * 1.3;
  }
}

h2 {
  font-size: $fontSize2;
  font-weight: 600;
  @include mq() {
    font-size: $fontSize2 * 1.3;
  }
}

h3 {
  font-size: $fontSize3;
  font-weight: 500;
  padding-block: $spacing;
  @include mq() {
    font-size: $fontSize3 * 1.3;
  }
}

button {
  padding: $spacing;
  border-radius: 20px;
  @include mq() {
    font-size: $fontSize3;
    padding-inline: $spacingDouble;
  }
}
