$backgroundCardColor: #1d2a38;
$textColor: rgb(233, 232, 230);
$fontSize1: 1.5rem;
$fontSize2: 1.25rem;
$fontSize3: 1.1rem;
$fontSize4: 0.8rem;
$spacing: 8px;
$spacingDouble: $spacing * 2;

@mixin flexDisplay($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $spacing;
}

@mixin mq($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

em {
  font-style: italic;
  font-weight: 300;
}

h1 {
  font-size: $fontSize1;
  @include mq() {
    font-size: $fontSize1 * 1.3;
  }
}

h2 {
  font-size: $fontSize2;
  font-weight: 600;
  @include mq() {
    font-size: $fontSize2 * 1.3;
  }
}

h3 {
  font-size: $fontSize3;
  font-weight: 500;
  padding-block: $spacing;
  @include mq() {
    font-size: $fontSize3 * 1.3;
  }
}

button {
  background-color: $backgroundCardColor;
  color: $textColor;
  padding: $spacing;
  border-radius: 15px;
  &:hover {
    filter: drop-shadow(0 0 5px $textColor);
  }
}

.details-container {
  @include flexDisplay();
  padding: $spacingDouble;
  h1 {
    padding-block: $spacing;
    text-align: center;
  }
  h2 {
    padding-block: $spacing;
    @include mq() {
      padding-block: $spacingDouble;
    }
  }
  .details-container-fiche {
    @include flexDisplay();
    @include mq() {
      @include flexDisplay(row, flex-start, center);
    }
    .cover {
      max-width: 270px;
      border-radius: 15px;
      @include mq() {
        max-width: 380px;
      }
    }
    .fiche-informations {
      @include mq() {
        max-width: 40%;
        @include flexDisplay();
      }
      ul {
        padding-block: $spacing;
        @include mq() {
          width: clamp(290px, 70%, 450px);
        }
      }
      ul li {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $spacingDouble;
        padding-block: calc($spacing/3);
      }
    }

    ul li div:first-child {
      text-align: right;
      text-wrap: nowrap;
    }
    ul,
    p {
      font-size: $fontSize4;
      line-height: 1.5;
      @include mq() {
        font-size: inherit;
      }
    }
  }
  .synopsis {
    @include mq() {
      max-width: 20%;
    }
    h3 {
      text-align: center;
    }
  }
  .crew-casting-container {
    @include flexDisplay(column, center, center);
    width: 100%;
    .crew-casting {
      @include flexDisplay(column, center, center);
      width: 100%;
      @include mq() {
        @include flexDisplay(row, center, center);
        flex-wrap: wrap;
      }
    }
  }
}
