:root {
  background-color: #0e141b;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1d2a38;
}

.logo {
  border-radius: 50%;
  width: 8%;
}

h1 {
  color: white;
  padding: 2%;
}

h2 {
  display: flex;
  justify-content: center;
  color: white;
  padding: 5%;
}

.direction {
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

.presentation {
  padding: 5%;
}

.container-cards {
  display: flex;
  padding-inline: 2rem;
  gap: 2rem;
}
