$backgroundCardColor: #1d2a38;
$fontSize1: 1.5rem;
$fontSize2: 1.25rem;
$fontSize3: 1.1rem;
$fontSize4: 0.8rem;
$spacing: 8px;
$spacingDouble: $spacing * 2;

@mixin mq($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.card {
  min-height: 325px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: $spacingDouble * 2;
  padding: $spacingDouble;
  @include mq() {
    height: 520px;
    padding: $spacingDouble * 2;
  }
}

.title {
  font-size: $fontSize1;
  display: flex;
  justify-content: start;
  margin: 0;
  @include mq() {
    font-size: $fontSize1 * 1.3;
  }
}

.images {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5%;
  @include mq() {
    max-width: 400px;
    max-height: 400px;
  }
}

.description {
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  font-size: $fontSize4;
  @include mq() {
    font-size: $fontSize4 * 1.3;
  }
}

.container-card {
  display: flex;
  justify-content: space-around;
  gap: $spacingDouble;
}

.info {
  gap: $spacingDouble;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.vote {
  text-wrap: wrap;
}

.stars {
  font-size: $fontSize4;

  @include mq() {
    padding-bottom: 2rem;
  }
}
