$backgroundCardColor: #1d2a38;
$textColor: rgb(233, 232, 230);
$fontSize1: 1.5rem;
$fontSize2: 1.25rem;
$fontSize3: 1.1rem;
$fontSize4: 0.8rem;
$spacing: 8px;
$spacingDouble: $spacing * 2;

@mixin mq($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: $backgroundCardColor;
  @include mq() {
    font-size: $fontSize1 * 1.3;
  }
}

.title {
  display: flex;
  justify-content: start;
  color: $textColor;
  padding: 1rem;
  margin: 0;
  @include mq() {
    font-size: $fontSize1 * 1.3;
  }
}

.images {
  max-width: 270px;
  border-radius: 5%;
  padding: 1rem;
  @include mq() {
    font-size: $fontSize1 * 1.3;
    max-width: 380px;
  }
}

.description {
  padding: 5%;
  color: $textColor;
  @include mq() {
    font-size: $fontSize1 * 1.3;
  }
}

.container-card {
  display: flex;
  justify-content: space-around;
  @include mq() {
    font-size: $fontSize1 * 1.3;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq() {
    font-size: $fontSize1 * 1.3;
  }
}
