$backgroundCardColor: #1d2a38;
$fontSize1: 1.5rem;
$fontSize2: 1.25rem;
$fontSize3: 1.1rem;
$fontSize4: 0.8rem;
$spacing: 8px;
$spacingDouble: $spacing * 2;

@mixin flexDisplay($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $spacing;
}

@mixin mq($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.person-container {
  @include flexDisplay(row-reverse, center, flex-end);

  padding: $spacing;
  background-color: $backgroundCardColor;
  border-radius: 10px;
  width: 100%;
  min-height: 128px;
  @include mq() {
    max-width: 356px;
  }
  .person-img-container {
    max-width: 80px;
    width: 50%;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }
  .person-description {
    width: 100%;
    p {
      font-size: 0.9rem;
      @include mq() {
        font-size: $fontSize4 * 1.3;
      }
      span {
        font-weight: 500;
      }
    }
  }
}
